[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.aliyun.com/simple"
verify_ssl = true
name = "pypialiyun"

[[source]]
url = "https://pypi.aliyun.com/simple"
verify_ssl = true
name = "pypialiyun"

[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "mirrorsaliyun"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = {version = "*", index = "mirrorsaliyun"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
